/* Commun à tous */
.En-tête {
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    background-color: #e3e0e0;
}

.En-tête h1 {
    font-family: "Georgia", serif;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
}

.En-tête h2 {
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

.En-tête button {
    border: None;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #e3e0e0;
    font-size: 20px;
    cursor: pointer;
}

.En-tête hr {
    margin-bottom: 10px;
    width: 75%;
}

body {
    background-color: #e3e0e0;
}

/* Propre à formation */

/* .frise {
    position: relative;
    border-radius: 0%;
    margin-top: 230px;
    height: 750px;
    width: 100%;
}

.frise #frise-INSA, #frise-DUT, #frise-lycée {
    position: absolute;
    height: 12%;
    left: 50%;
    z-index: 1;
    background-color: white;
    border: black;
    border-radius: 30px;
    padding: 20px;
}

#frise-INSA {
    top: 0%;
    transform: translateX(-50%);
}

#frise-lycée {
    bottom: 0%;
    transform: translateX(-50%);
}

#frise-DUT {
    top: 50%;
    transform: translate(-50%, -50%);
}

#frise-liaison {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 10px;
    background-color: black;
} */



.Ecole {
    position: relative;
    margin-top: 230px;
    text-align: center;
    height: 440px;
    width: 100%;
}

.batiment {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    opacity: 0.35;
    /*opacity: 1;
    transition: opacity 0.3s ease*/
}

/*#INSA-batiment:hover {
    opacity: 0.5;
}*/

.logo {
    position: absolute;
    height: 15%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.titre-formation {
    position: absolute;
    font-size: 35px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

#DUT {
    height: 500px;
}

#lycée-logo {
    height: 20%;
}